html
{
	background-color: #29ABE2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 612px;
	padding-bottom: 88px;
	margin-left: auto;
	margin-right: auto;
}

#u3404-4
{
	z-index: 2;
	width: 98px;
	min-height: 112px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: 465px;
	background: transparent url("../images/up-arrow-xs.png") no-repeat center top;
}

#u3404-4:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 112px;
	margin: 0px 0px 0px 465px;
}

#u3029
{
	z-index: 6;
	width: 880px;
	-pie-box-shadow: 0px 8px 8px #BFBFBF;
	-moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 8px 8px -1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: -100px;
	padding: 60px 122px 13px 157px;
}

#pu5073-6
{
	width: 0.01px;
	position: relative;
}

#u5073-6
{
	z-index: 12;
	width: 598px;
	min-height: 58px;
	text-align: left;
	color: #889291;
	line-height: 2.26;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u5073-2
{
	font-size: 18px;
	font-weight: 400;
}

#u5073-4
{
	font-weight: 200;
}

#u5074-4
{
	z-index: 18;
	width: 91px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: #C3C3C3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	line-height: 0;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 789px;
}

#u5074-4:hover
{
	background-color: #EB5A66;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	margin: 17px -10000px 0px 0px;
}

#u5074-2
{
	padding-top: 17px;
}

#u5130
{
	z-index: 22;
	width: 880px;
	height: 8px;
	border-style: solid;
	border-color: #F8F8F8;
	background-color: #FFFFFF;
	margin-top: 3px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u5071
{
	z-index: 11;
	width: 521px;
	height: 487px;
	border-style: none;
	border-color: transparent;
	margin-top: 4px;
	position: relative;
	background: #22B573 url("../images/clapboard-u5071-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u5070-4
{
	z-index: 7;
	width: 98px;
	min-height: 112px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	top: 29px;
	left: 50%;
	margin-left: 482px;
	background: transparent url("../images/up-arrow-xs.png") no-repeat center top;
}

#u5070-4:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 112px;
	margin: 0px 0px 0px 482px;
}

#u3404-2,#u5070-2
{
	padding-top: 62px;
}

body
{
	padding-top: 35px;
	padding-bottom: 155px;
}

#page .verticalspacer
{
	clear: both;
}

