html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 959px;
	min-height: 900px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 28px;
	margin-bottom: 1px;
}

#u3422-4
{
	z-index: 2;
	width: 98px;
	min-height: 112px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: 465px;
	background: transparent url("../images/up-arrow-xs.png") no-repeat center top;
}

#u3422-4:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 112px;
	margin: 0px 0px 0px 465px;
}

#pu5148-6
{
	width: 0.01px;
	padding-bottom: 40px;
	margin-left: 65px;
	position: relative;
}

#u5148-6
{
	z-index: 15;
	width: 598px;
	min-height: 58px;
	text-align: left;
	color: #889291;
	line-height: 2.26;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u5148-2
{
	font-size: 18px;
	font-weight: 400;
}

#u5148-4
{
	font-weight: 200;
}

#u5150-4
{
	z-index: 27;
	width: 91px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: #C3C3C3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	line-height: 0;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 789px;
}

#u5150-4:hover
{
	background-color: #EB5A66;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	margin: 16px -10000px 0px 0px;
}

#u5142-4
{
	z-index: 6;
	width: 98px;
	min-height: 112px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	top: 64px;
	left: 50%;
	margin-left: 474px;
	background: transparent url("../images/up-arrow-xs.png") no-repeat center top;
}

#u5142-4:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 112px;
	margin: 0px 0px 0px 474px;
}

#u3422-2,#u5142-2
{
	padding-top: 62px;
}

#u5147
{
	z-index: 14;
	width: 932px;
	height: 8px;
	border-style: solid;
	border-color: #F8F8F8;
	background-color: #FFFFFF;
	margin-left: 38px;
	top: -36px;
	margin-bottom: -9px;
	position: relative;
	border-width: 1px 0px 0px;
}

#pu5149-6
{
	width: 0.01px;
	margin-left: 65px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u5149-6
{
	z-index: 21;
	width: 598px;
	min-height: 58px;
	text-align: left;
	color: #889291;
	line-height: 2.26;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u5151-4
{
	z-index: 31;
	width: 252px;
	min-height: 38px;
	border-style: none;
	border-color: transparent;
	background-color: #87CEC6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	line-height: 0;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 6px;
}

#u5151-4:hover
{
	background-color: #EB5A66;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	margin: 103px -10000px 0px 0px;
}

#u5151-4.MuseLinkActive
{
	background-color: #87CEC6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	margin: 103px -10000px 0px 0px;
}

#u5150-2,#u5151-2
{
	padding-top: 17px;
}

#pu5143
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 34px;
	position: relative;
}

#u5143
{
	z-index: 10;
	width: 302px;
	height: 289px;
	border-width: 2px;
	border-style: solid;
	border-color: #F9F9F9;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../images/wireshare.png") no-repeat center center;
}

#u5156
{
	z-index: 12;
	width: 302px;
	height: 289px;
	border-width: 2px;
	border-style: solid;
	border-color: #F9F9F9;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 413px;
	background: transparent url("../images/wireshare02-u5156-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#pu5165
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 27px;
	position: relative;
}

#u5165
{
	z-index: 11;
	width: 302px;
	height: 289px;
	border-width: 2px;
	border-style: solid;
	border-color: #F9F9F9;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../images/wireshare03-u5165-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u5166
{
	z-index: 13;
	width: 302px;
	height: 289px;
	border-width: 2px;
	border-style: solid;
	border-color: #F9F9F9;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 413px;
	background: transparent url("../images/fr_1671-u5166-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

body
{
	padding-top: 36px;
	padding-bottom: 181px;
}

#page .verticalspacer
{
	clear: both;
}

